@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-\[url\(\'frontend\/Background\.jpg\'\)\] {
  @apply bg-cover bg-center h-screen;
}

.body {
  @apply bg-black text-white font-sans;
}

.join-now-btn {
  @apply w-32 align-middle bg-blue-500 text-white hover:bg-blue-600 px-4 py-2 space-y-2 rounded-[12px];
}

.explore-startups-btn {
  @apply w-32 align-middle bg-blue-500 text-white hover:bg-blue-600 px-4 py-2 rounded-[12px];
}

.access-resources-btn {
  @apply w-32 align-middle bg-blue-500 text-white hover:bg-blue-600 px-4 py-2 rounded-[12px];
}

#buttons-container {
  @apply flex justify-center space-x-4 mt-6;
}

.h2 {
  @apply pt-16;
}





